<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Angular Elessar demos</title>
		<link rel="stylesheet" href="../node_modules/elessar/elessar.css">
		<link rel="stylesheet" href="../src/scss/ui.elessar.css">

		<style>
			.red {
				background-color: red !important;
			}

			.yellow {
				background-color: yellow !important;
			}
		</style>
	</head>
	<body ng-app="app">

		<div ng-controller="HomeController as homeCtrl">
			<ui-elessar ng-model="homeCtrl.modelA" ui-options="homeCtrl.options"
			            ui-instance="homeCtrl.rangeBar"></ui-elessar>
			<pre>{{homeCtrl.modelA}}</pre>
			<br>
		</div>


		<!--<script src="http://momentjs.com/downloads/moment.min.js"></script>-->
		<script src="http://code.jquery.com/jquery.min.js"></script>
		<script src="../node_modules/angular/angular.js"></script>
		<script src="../node_modules/elessar/dist/elessar.js"></script>

		<script src="./index.js"></script>
		<script src="../src/js/ui.elessar.js"></script>
	</body>
</html>